.app-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "c c";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    /*grid-gap: 10px;*/
    font-family: Arial;
    font-size: 14pt;
}

.app-wrapper-content {
    grid-area: c;
    background-color: whitesmoke;
    padding: 10px;
    align-items: center;
    text-align: center;
}
